<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Questionnaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>We have super awesome questions for you!</h1>
    <p>{{ausgabe}}</p>
    <p>Number of Questions: {{data.currentQuiz.questions.length}}</p>
    <ion-button shape="round" expand="block" fill="outline" color="primary" (click)="showList()">Edit Questions</ion-button>
  </div>
</ion-content>
